<!-- Piwik -->
<!-- End Piwik Code -->

<script type="text/javascript">
//     // display the privacy message when not yet displayed, store this fact in a cookie
//     // if DNT is set, do not do anything, because we auto-disable tracking based on the 
//     // users wish
//     var isDNT = navigator.doNotTrack == "yes" || navigator.doNotTrack == "1" || navigator.msDoNotTrack == "1";
    
//     if ($.cookie('privacy-ack-displayed') == undefined && !isDNT) { 
//         $('#privacy-message').show();
//         $.cookie('privacy-ack-displayed', 'true', { expires: 7, path: '/{{site.lang}}' });
//     }
</script>
